# neo4j
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=#YOUR NEO4J USERNAME HERE
NEO4J_PASSWORD=#YOUR PW HERE

# ollama
OLLAMA_BASE_URL=http://localhost:11434
CHAT_MODEL=#the chat model you're using(14b +). should be the strongest model
EXTRACTOR_MODEL=#extractor model - using 7b here, just needs to follow basic json. no huge reasoning
EMBEDDING_MODEL=#embedding model, I'm using 'nomic-embed-text'

# sqlite
DATABASE_URL=app/db/locus.db